body {
    background-color:lightblue;
}

p {
    font-size: small;
}

h1, h3, h4 {
    font-family: arial;
}

.green_box {
    padding: 15px 25px;
    border: 4px solid green;
    background-color: white;
    margin-left: 10px;
    margin-right: 565px;
    line-height: 1.5;
    word-spacing: 2.0px;
    font-size: x-small;
}


.blue_box{
    padding: 15px;
    border: 1px solid black;
    background-color:darkblue;
    margin: 5px;
    color: white;
    margin-top: 10px;
}

ol {
    list-style-type: decimal-leading-zero;
}

th{
    background-color:lightgray;
    text-emphasis:bold;
    border-collapse: collapse;
    border: 1px solid black;
}

table, td{
    padding: 10px;
    border: 1px solid black;
    background-color:white;
    border-collapse: collapse;
}

a:link {
    color: darkred;
}

